* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--dark: #333;
	
	color: var(--dark);
	font: 20px/1.618 sans-serif;
}

body {
	background-color: #eee;
}

a {
	text-decoration: none;
}
footer {
	align-items: center;
	border-top: 1px solid var(--dark);
	display: flex;
	justify-content: center;
}
ul {
	list-style: none;
}

.container {
	display: grid;
	grid-template-rows: 50px auto 100px;
	margin: 0 auto;
	min-height: 100vh;
	width: 80%;
}