<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1>Contacts</h1>
		</header>
		<main>
			<ul>
				<li th:each="contact : ${contacts}">
					<ul>
						<li th:each="person : ${contact.people}">
							<a th:href="|/people/${person.id}|" th:text="|${person.firstName} ${person.lastName}|"></a>:
							<span th:text="${person.phoneNumber}"></span>
						</li>
					</ul>
				</li>
			</ul>
		</main>
		<footer>
			<small>&copy; 2018</small>
		</footer>
	</div>	
</body>
</html>